.input {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    font-family: 'Source San 3', sans-serif;
    border-bottom: 1px solid #505050;
    width: 100%;
}

.input-title {
    font-size: 32px;
}

.invalid {
    border: 1px solid red;
}